@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic");

@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");


body {
	font-family: 'Open Sans', sans-serif;
	background-color: #302a2a;
}

header {
  background-color: #302a2a;
}

.title {
  padding-top: 20px;
}

.title>p {
  font-weight: bold;
  font-size: 20px;
}

h2 {
  color: white;
}

p {
  color: white;
}

.verse {
  padding-top: 10px;
}

.chorus {
  padding-top: 10px;
}

footer {
  text-align: center;
  height: 100%;
  background-color: #1d1f20;
}

.container {
  height: 100%;
}